.courses-box {

    display: flex;
    flex-direction: column;
    flex: 0 1 22%;
    margin-bottom: 5rem;
    overflow: hidden;

    &__header {
        text-align: center;
    }

    &__details {
        overflow: hidden;
        margin-bottom: 3rem;
    }

    &__img {
        width: 100%;
        height: 100%;
        transition: all .3s;

        &:hover {
            @include mq(very-large) {
                transform: scale(1.1);
            }
        }

    }

    &__icons-price {
        display: flex;
        align-items: center;
        margin: -2.6rem 1rem 0;
        position: relative;
        z-index: 10;
    }

    &__icon {
        width: 1.2rem;
        height: 1.3rem;
        fill: $color-white;
    }

    &__numbers {
        font-size: 1.2rem;
        color: $color-white;
        margin: 0 .5rem;
        font-weight: 300;
    }

    &__price {
        display: block;
        font-size: 2rem;
        font-weight: 600;
        margin-left: auto;
        color: $color-white;
    }
}