.form {

    &__form-container {
        margin: 7rem 1rem;
 
        .heading-tertialy--form {
            text-align: center;
            padding: 2rem 2rem 5rem;
        }
 
     }
 
     &__form:not(:last-child) {
         margin-bottom: .6rem;
     }

     
     &__input {
         font-size: 1.5rem;
         font-family: inherit;
         padding: 1rem;
         width: 100%;
         background-color: $color-white;
         color: $text-color;
     
     }

     &__form--arrow {
         display: flex;
         margin: 2rem 0 5rem;

     }


}