.navigation {

    &__hamburger {
        width: 3rem;
        height: 3rem;
        border: 0;
        border-top: .3rem solid $color-white;
        background: transparent;
        position: relative;
        z-index: 1;
        transition: .3s transform linear;

        &::before,
        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            border-top: .3rem solid $color-white;
            transform: translateY(.6rem);
        }

        &::after {
            transform: translateY(1.4rem);
            transition: .3s transform linear;
        }

        &:focus {
            transform: rotate(45deg) translateY(1rem);
            border: none;
            outline: none;
        }

        &:focus::after {
            transform: rotate(-90deg) translateX(-.6rem);
        }

        @include mq(large, min) {
             display: none;
        }
        
    }

    &__site-menu {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 0;
        right: 0;
        height: 60vh;
        width: 50%;
        border-radius: 2rem;
        background-color: rgba($color-background, 0.8);
        transform: translateX(100%);
        transition: .3s transform ease-in-out;

        @include mq(large, min) {
            position: static;
            height: auto;
            background-color: inherit;
            transform: none;
            width: 100%;
        }
    }

    &__list {
        padding: 0;
        margin: 0 1rem;
        display: flex;
        flex-direction: column;
       
        @include mq(large, min) {
            flex-direction: row;
            align-content: center;
            margin: 0;
        }
    }

    &__link {
        &:link,
        &:visited {
            display: inline-block;
            font-size: 2rem;
            font-weight: 300;
            padding: 1rem 2rem;
            color: $color-white;
            text-transform: uppercase;
            background-image: linear-gradient(120deg, transparent 0%, transparent 50%, $color-white 50%);
            background-size: 240%;
            transition: all .5s;
            @include mq (large) {
                font-size: $fontsize-default;
            }
        }

        &:hover,
        &:active {
            background-position: 100%;
            color: black;
            transform: translateX(1rem);
        }
    }
    
    &__hamburger:focus ~ .navigation__site-menu, .navigation__site-menu:hover {
        transform: translateX(0);
        
    }

}