.primary-btn {

    &,
    &:link,
    &:visited {
        background-color: $color-primary;
        color: $color-white;
        text-transform: uppercase;
        text-decoration: none;
        font-size: 1.4rem;
        ;
        padding: 1.2rem 2.5rem;
        box-shadow: .5rem .5rem 1rem rgba($color-black, .2);
        border: none;
        transition: all .3s;
    }

    &:hover {

        @include mq(very-large) {
            background-color: $color-white;
            color: $color-primary;
        }

    }

    &:active,
    &:focus {
        transform: scale(1.1);
        outline: none;
    }

    &--white {
        background-color: $color-white;
        color: $color-black;
    }

    &--form {
        width: 100%;
        margin: 0;
    }

    &--arrow {
        font-size: 2rem;
        padding: .5rem 1.5rem;
    }

    &--black {
        &:hover {
            @include mq(very-large) {
                background-color: $color-black-light;
                color: $color-white;
            }
        }
    }

}