.footer {

    background-color: $color-background;
    padding: 5rem 2rem 10rem;

    &__link-container {

    }

    &__link-column {
       
    }

    &__link-list {

    }

    &__link {
        font-size: $fontsize-default;
        margin-bottom: 2rem;
    }

    &__copy-media .paragraph .footer__copy-link {
         color: $color-primary;
        
    }

    &__social-media {
        margin-top: 3rem;
    }

    &__inon-box {
       
 
    }

    &__icon {
       
        fill: $color-white;
        background-color: rgba(255,255,255,0.1);
        width: 2rem;
        height: 2rem;
        margin-right: 1.5rem;
        
        border-radius: 1rem;
 
    }


    
}