.header {

    background-image: linear-gradient(0deg,
        rgba($color-background, 0.8),
        rgba($color-background, 0.8)),
        url(/img/banner-bg.jpg);
    background-size: cover;
    background-position: top;
    
    &--big {
    padding: 20rem 10rem;
    }

    display: flex;
    flex-direction: column;

    // HEADER FOR SUBPAGES

    &--center > * {
        text-align: center;
    }

    &__arrow {
        margin: 0 1rem;
    }
    
    &__links {
        font-size: $fontsize-default;
        color: $color-white;
        
        
    }

}