.events {

    &__header {
        text-align: center;
        padding: 0 0 6rem 0;
    }
   
    &__container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    
        @include mq(very-large, min) {
            flex-direction: row;
            flex-wrap: wrap;
        }
    }

}