.recruitment {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-image: linear-gradient(0deg, 
    rgba($color-black-light, 0.4), 
    rgba($color-black-light, 0.4)), 
    url(/education-website/img/cta-bg.jpg);
    background-position: center;
    background-size: cover;
    padding: 12rem 4rem;
    text-align: center;

    @include mq(very-large, min) {
        padding: 14rem 18rem;
    }
}