.course-search {
    background-image: linear-gradient(0deg,
        rgba($color-background, 0.8),
        rgba($color-background, 0.8)),
        url(/img/event-details-img.jpg);
    background-size: cover;
    background-position: center;


    &__conteiner-details {
        
        display: flex;
        flex-direction: column;
        padding: 10rem 2rem 0;
    
    }

    &__header-box {
        margin-bottom: 3rem;
    }

    &__offer-container {
        display: flex;
        
    }

    &__offer-box {
       flex: 0 1 50%;
    }

    &__icon {
        width: 3rem;
        height: 3rem;
        fill: $color-primary;
        margin-bottom: 3rem;
    }

    &__form-container {
        padding: 8rem 2rem 10rem;
        
        background-color: rgba($color-white, 0.2);
    }


}
