//FONT:

$primary-font	: 'Poppins', sans-serif;
$fontsize-default   : 1.4rem;

//COLOR:


$title-color	: #222222;
$text-color		: #777777;

$color-primary	: #f7631b;
$color-white		: #fff;
$color-offwhite		: #f9f9ff;
$color-black		: #222;
$color-black-light  : #292626;
$color-red          : #ec0303;
$color-background   : #04091f;

