*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    // This defines what 1rem is
    font-size: 62.5%;
}

body {
    box-sizing: border-box;
    line-height: 1.7;
    height: 100vh; // test
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}
