.u-margin-top-small {
  margin-top: 2rem; }

.u-margin-bottom-small {
  margin-bottom: 2rem; }

.u-margin-bottom-medium {
  margin-bottom: 3rem; }

.u-margin-bottom-big {
  margin-bottom: 4rem; }

.u-text-align {
  text-align: center; }

.u-section-padding {
  padding: 10rem 2rem; }
  @media only screen and (min-width: 36.26em) {
    .u-section-padding {
      padding: 10rem 4rem; } }
  @media only screen and (min-width: 48.06em) {
    .u-section-padding {
      padding: 10rem 6rem; } }
  @media only screen and (min-width: 60.06em) {
    .u-section-padding {
      padding: 10rem 8rem; } }
  @media only screen and (min-width: 62.56em) {
    .u-section-padding {
      padding: 10rem 10rem; } }

.u-section-padding-small {
  padding: 4rem 2rem; }
  @media only screen and (min-width: 36.26em) {
    .u-section-padding-small {
      padding: 4rem 4rem; } }
  @media only screen and (min-width: 48.06em) {
    .u-section-padding-small {
      padding: 4rem 6rem; } }
  @media only screen and (min-width: 60.06em) {
    .u-section-padding-small {
      padding: 4rem 8rem; } }
  @media only screen and (min-width: 62.56em) {
    .u-section-padding-small {
      padding: 6rem 10rem; } }

/*! normalize.css v8.0.0 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections
     ========================================================================== */
/**
   * Remove the margin in all browsers.
   */
body {
  margin: 0; }

/**
   * Correct the font size and margin on `h1` elements within `section` and
   * `article` contexts in Chrome, Firefox, and Safari.
   */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
     ========================================================================== */
/**
   * 1. Add the correct box sizing in Firefox.
   * 2. Show the overflow in Edge and IE.
   */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
     ========================================================================== */
/**
   * Remove the gray background on active links in IE 10.
   */
a {
  background-color: transparent; }

/**
   * 1. Remove the bottom border in Chrome 57-
   * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
   */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

/**
   * Add the correct font weight in Chrome, Edge, and Safari.
   */
b,
strong {
  font-weight: bolder; }

/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
   * Add the correct font size in all browsers.
   */
small {
  font-size: 80%; }

/**
   * Prevent `sub` and `sup` elements from affecting the line height in
   * all browsers.
   */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
     ========================================================================== */
/**
   * Remove the border on images inside links in IE 10.
   */
img {
  border-style: none; }

/* Forms
     ========================================================================== */
/**
   * 1. Change the font styles in all browsers.
   * 2. Remove the margin in Firefox and Safari.
   */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
   * Show the overflow in IE.
   * 1. Show the overflow in Edge.
   */
button,
input {
  /* 1 */
  overflow: visible; }

/**
   * Remove the inheritance of text transform in Edge, Firefox, and IE.
   * 1. Remove the inheritance of text transform in Firefox.
   */
button,
select {
  /* 1 */
  text-transform: none; }

/**
   * Correct the inability to style clickable types in iOS and Safari.
   */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

/**
   * Remove the inner border and padding in Firefox.
   */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
   * Restore the focus styles unset by the previous rule.
   */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
   * Correct the padding in Firefox.
   */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/**
   * 1. Correct the text wrapping in Edge and IE.
   * 2. Correct the color inheritance from `fieldset` elements in IE.
   * 3. Remove the padding so developers are not caught out when they zero out
   *    `fieldset` elements in all browsers.
   */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
   * Add the correct vertical alignment in Chrome, Firefox, and Opera.
   */
progress {
  vertical-align: baseline; }

/**
   * Remove the default vertical scrollbar in IE 10+.
   */
textarea {
  overflow: auto; }

/**
   * 1. Add the correct box sizing in IE 10.
   * 2. Remove the padding in IE 10.
   */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
   * Correct the cursor style of increment and decrement buttons in Chrome.
   */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
   * 1. Correct the odd appearance in Chrome and Safari.
   * 2. Correct the outline style in Safari.
   */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
   * Remove the inner padding in Chrome and Safari on macOS.
   */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
   * 1. Correct the inability to style clickable types in iOS and Safari.
   * 2. Change font properties to `inherit` in Safari.
   */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
     ========================================================================== */
/*
   * Add the correct display in Edge, IE 10+, and Firefox.
   */
details {
  display: block; }

/*
   * Add the correct display in all browsers.
   */
summary {
  display: list-item; }

/* Misc
     ========================================================================== */
/**
   * Add the correct display in IE 10+.
   */
template {
  display: none; }

/**
   * Add the correct display in IE 10.
   */
[hidden] {
  display: none; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

li {
  list-style: none; }

a,
a:link,
a:visited {
  text-decoration: none;
  color: inherit;
  cursor: pointer; }

::selection {
  background-color: #f7631b;
  color: #fff; }

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  line-height: 1.2;
  color: #777777; }

.heading-primary {
  color: #fff;
  font-size: 3.2rem;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 2rem; }
  @media only screen and (min-width: 48.06em) {
    .heading-primary {
      font-size: 4.5rem; } }
  .heading-primary--big {
    font-size: 5.5rem;
    text-transform: capitalize; }

.heading-secondary {
  font-size: 3.5rem;
  font-weight: 600;
  color: #222; }
  .heading-secondary--white {
    color: #fff;
    font-size: 3rem; }

.heading-tertialy {
  font-size: 1.8rem;
  font-weight: 600;
  color: #222; }
  .heading-tertialy--white {
    color: #fff; }
  .heading-tertialy--form {
    text-align: center;
    padding: 4rem 2rem; }

.heading-quaternary {
  font-size: 1.4rem; }

.paragraph {
  font-size: 1.4rem;
  font-weight: 300; }
  .paragraph--white {
    color: #fff; }

.header {
  background-image: linear-gradient(0deg, rgba(4, 9, 31, 0.8), rgba(4, 9, 31, 0.8)), url(/img/banner-bg.jpg);
  background-size: cover;
  background-position: top;
  display: flex;
  flex-direction: column; }
  .header--small {
    padding: 4rem 2rem; }
  @media only screen and (min-width: 36.26em) {
    .header--big {
      padding: 15rem 4rem; } }
  @media only screen and (min-width: 48.06em) {
    .header--big {
      padding: 15rem 6rem; } }
  @media only screen and (min-width: 60.06em) {
    .header--big {
      padding: 15rem 8rem; } }
  @media only screen and (min-width: 62.56em) {
    .header--big {
      padding: 20rem 10rem; } }
  .header--center > * {
    text-align: center; }
  .header__arrow {
    margin: 0 1rem; }
  .header__links {
    font-size: 1.4rem;
    color: #fff; }

.courses {
  background-color: #f9f9ff; }
  .courses__header {
    text-align: center;
    margin: -5rem 0 8rem; }
  .courses__offer > :not(:first-child) {
    display: none; }
    @media only screen and (min-width: 60.06em) {
      .courses__offer > :not(:first-child) {
        display: flex;
        flex-direction: column; } }
  .courses__offer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center; }
    @media only screen and (min-width: 60.06em) {
      .courses__offer {
        display: flex;
        flex-direction: row;
        justify-content: space-between; } }

.course-search {
  background-image: linear-gradient(0deg, rgba(4, 9, 31, 0.8), rgba(4, 9, 31, 0.8)), url(/img/event-details-img.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column; }
  @media only screen and (min-width: 48.06em) {
    .course-search {
      flex-direction: row; } }
  .course-search__conteiner-details {
    display: flex;
    flex-direction: column; }
    @media only screen and (min-width: 62.56em) {
      .course-search__conteiner-details {
        padding: 0 15rem; } }
    @media only screen and (min-width: 48.06em) {
      .course-search__conteiner-details {
        flex: 2;
        margin-right: 2rem; } }
  .course-search__header-box {
    margin-bottom: 3rem; }
  .course-search__offer-container {
    display: flex;
    justify-content: space-between; }
  .course-search__offer-box {
    flex: 0 1 44%; }
    @media only screen and (min-width: 62.56em) {
      .course-search__offer-box:first-child {
        margin-right: 4rem; } }
  .course-search__icon {
    width: 3rem;
    height: 3rem;
    fill: #f7631b;
    margin-bottom: 3rem; }
  .course-search__form-container {
    padding: 4rem 2rem 10rem;
    background-color: rgba(255, 255, 255, 0.2); }

.events__header {
  text-align: center;
  padding: 0 0 6rem 0; }

.events__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between; }
  @media only screen and (min-width: 62.56em) {
    .events__container {
      flex-direction: row;
      flex-wrap: wrap; } }

.review {
  display: flex;
  flex-direction: column;
  background-color: #f9f9ff; }
  @media only screen and (min-width: 48.06em) {
    .review {
      flex-direction: row; } }
  .review__content-box:first-child {
    margin-right: 2.5rem; }
  .review__name-stars {
    display: flex; }
  .review__star {
    margin-left: 3rem;
    display: flex;
    align-items: center; }
  .review__icon {
    width: 2rem;
    height: 2rem;
    fill: #f7631b; }

.blog {
  display: flex;
  flex-direction: column; }
  .blog__header {
    text-align: center; }
  @media only screen and (min-width: 48.06em) {
    .blog__container {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between; } }
  @media only screen and (min-width: 62.56em) {
    .blog__container {
      flex-wrap: nowrap; } }

.recruitment {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(0deg, rgba(41, 38, 38, 0.4), rgba(41, 38, 38, 0.4)), url(/img/cta-bg.jpg);
  background-position: center;
  background-size: cover;
  padding: 12rem 4rem;
  text-align: center; }
  @media only screen and (min-width: 62.56em) {
    .recruitment {
      padding: 14rem 25rem; } }

.view-blog {
  background-color: #f7631b;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 4rem 6rem; }

.footer {
  background-color: #04091f;
  display: flex;
  flex-direction: column; }
  @media only screen and (min-width: 36.26em) {
    .footer__link-container {
      display: flex;
      flex-wrap: wrap; } }
  @media only screen and (min-width: 62.56em) {
    .footer__link-container {
      flex-wrap: nowrap; } }
  .footer__link-column {
    display: flex;
    flex-direction: column; }
    @media only screen and (min-width: 36.26em) {
      .footer__link-column {
        flex: 0 1 40%;
        margin-bottom: 3rem; } }
    .footer__link-column:last-child {
      flex: 0 1 60%; }
  .footer__link {
    font-size: 1.4rem;
    margin-bottom: 1.2rem;
    transition: color .3s; }
    @media only screen and (min-width: 62.56em) {
      .footer__link:hover {
        color: #f7631b; } }
  .footer__copy-media .paragraph .footer__copy-link {
    color: #f7631b; }
  .footer__copy-media {
    display: flex;
    flex-direction: column; }
    @media only screen and (min-width: 62.56em) {
      .footer__copy-media {
        flex-direction: row;
        justify-content: space-between; } }
  .footer__icon {
    fill: #fff;
    width: 2rem;
    height: 2rem;
    margin-right: 1.5rem;
    transition: fill .4s; }
    @media only screen and (min-width: 62.56em) {
      .footer__icon:hover {
        fill: #f7631b; } }

.menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 100; }
  .menu__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #222;
    padding: 1rem 2rem 0; }
  .menu__social-media, .menu__contact {
    display: flex; }
  .menu__icon-box {
    margin: 0.5rem; }
    .menu__icon-box:not(:last-child) {
      margin-right: 1rem; }
    .menu__icon-box .details {
      display: none; }
      @media only screen and (min-width: 30.06em) {
        .menu__icon-box .details {
          display: inline-block; } }
      @media only screen and (min-width: 36.26em) {
        .menu__icon-box .details {
          margin-left: .3rem; } }
  .menu__icon {
    width: 1.5rem;
    height: 1.5rem;
    fill: #fff;
    cursor: pointer;
    transition: fill 1s; }
    @media only screen and (min-width: 75.06em) {
      .menu__icon:hover {
        fill: red; } }
  @media only screen and (min-width: 30.06em) {
    .menu__contact {
      color: #fff;
      display: flex;
      flex-direction: column;
      align-items: flex-end; } }
  @media only screen and (min-width: 36.26em) {
    .menu__contact {
      flex-direction: row; } }
  .menu__contact .menu__icon-box {
    margin-right: 0; }
  @media only screen and (min-width: 30.06em) {
    .menu__contact .menu__icon {
      display: none; } }
  .menu__bottom {
    background-color: rgba(34, 34, 34, 0.8);
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem; }

.navigation__hamburger {
  width: 3rem;
  height: 3rem;
  border: 0;
  border-top: 0.3rem solid #fff;
  background: transparent;
  position: relative;
  z-index: 1;
  transition: .3s transform linear; }
  .navigation__hamburger::before, .navigation__hamburger::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    border-top: 0.3rem solid #fff;
    transform: translateY(0.6rem); }
  .navigation__hamburger::after {
    transform: translateY(1.4rem);
    transition: .3s transform linear; }
  .navigation__hamburger:focus {
    transform: rotate(45deg) translateY(1rem);
    border: none;
    outline: none; }
  .navigation__hamburger:focus::after {
    transform: rotate(-90deg) translateX(-0.6rem); }
  @media only screen and (min-width: 60.06em) {
    .navigation__hamburger {
      display: none; } }

.navigation__site-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  height: 60vh;
  width: 50%;
  border-radius: 2rem;
  background-color: rgba(4, 9, 31, 0.8);
  transform: translateX(100%);
  transition: .3s transform ease-in-out; }
  @media only screen and (min-width: 60.06em) {
    .navigation__site-menu {
      position: static;
      height: auto;
      background-color: inherit;
      transform: none;
      width: 100%; } }

.navigation__list {
  padding: 0;
  margin: 0 1rem;
  display: flex;
  flex-direction: column; }
  @media only screen and (min-width: 60.06em) {
    .navigation__list {
      flex-direction: row;
      align-content: center;
      margin: 0; } }

.navigation__link:link, .navigation__link:visited {
  display: inline-block;
  font-size: 2rem;
  font-weight: 300;
  padding: 1rem 2rem;
  color: #fff;
  text-transform: uppercase;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #fff 50%);
  background-size: 240%;
  transition: all .5s; }
  @media only screen and (min-width: 60.06em) {
    .navigation__link:link, .navigation__link:visited {
      font-size: 1.4rem; } }

.navigation__link:hover, .navigation__link:active {
  background-position: 100%;
  color: black;
  transform: translateX(1rem); }

.navigation__hamburger:focus ~ .navigation__site-menu, .navigation .navigation__site-menu:hover {
  transform: translateX(0); }

.primary-btn, .primary-btn:link, .primary-btn:visited {
  background-color: #f7631b;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1.4rem;
  padding: 1.2rem 2.5rem;
  box-shadow: 0.5rem 0.5rem 1rem rgba(34, 34, 34, 0.2);
  transition: all .3s;
  text-align: center;
  cursor: pointer;
  border: 2px solid transparent; }

@media only screen and (min-width: 62.56em) {
  .primary-btn:hover {
    background-color: #fff;
    color: #f7631b; } }

.primary-btn:active, .primary-btn:focus {
  transform: scale(1.1);
  outline: none; }

.primary-btn--white {
  background-color: #fff;
  color: #222;
  border: none; }

.primary-btn--form {
  width: 100%;
  margin: 0; }

.primary-btn--arrow {
  font-size: 2rem;
  padding: .5rem 1.5rem; }

@media only screen and (min-width: 62.56em) {
  .primary-btn--black:hover {
    background-color: #292626;
    color: #fff;
    border: none; } }

.primary-btn--border {
  border: 2px solid #f7631b; }

.feature {
  background-color: #f9f9ff;
  text-align: center; }
  .feature__container {
    margin: -16rem 0 -15rem;
    display: flex;
    flex-direction: column; }
    @media only screen and (min-width: 62.56em) {
      .feature__container {
        flex-direction: row; } }
  .feature__single {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 3rem;
    transition: color 3s; }
    @media only screen and (min-width: 62.56em) {
      .feature__single:not(:last-child) {
        margin-right: 6rem; } }
    @media only screen and (min-width: 62.56em) {
      .feature__single:hover .feature__header {
        background-color: #f7631b; }
      .feature__single:hover .feature__link {
        color: #f7631b; } }
  .feature__header {
    width: 100%;
    padding: 2rem 0;
    background-color: #f7631b;
    color: #fff;
    transition: background-color .3s; }
    @media only screen and (min-width: 62.56em) {
      .feature__header {
        background-color: rgba(255, 255, 255, 0.2); } }
  .feature__content {
    background-color: #fff;
    box-shadow: 0rem 1rem 3rem 0rem rgba(34, 34, 34, 0.1); }
  .feature__text {
    padding: 2rem 3rem; }
  .feature__link, .feature__link:visited {
    display: inline-block;
    margin-bottom: 1rem;
    font-size: 1.4rem;
    color: #222;
    font-weight: 700;
    text-decoration: none;
    outline: none;
    transition: color .3s; }
    .feature__link:active, .feature__link:visited:active {
      color: #f7631b; }

.courses-box {
  display: flex;
  flex-direction: column;
  flex: 0 1 22%;
  margin-bottom: 5rem;
  overflow: hidden; }
  .courses-box__header {
    text-align: center; }
  .courses-box__details {
    overflow: hidden;
    margin-bottom: 3rem; }
  .courses-box__img {
    width: 100%;
    height: 100%;
    transition: all .3s; }
    @media only screen and (min-width: 62.56em) {
      .courses-box__img:hover {
        transform: scale(1.1); } }
  .courses-box__icons-price {
    display: flex;
    align-items: center;
    margin: -2.6rem 1rem 0;
    position: relative;
    z-index: 10; }
  .courses-box__icon {
    width: 1.2rem;
    height: 1.3rem;
    fill: #fff; }
  .courses-box__numbers {
    font-size: 1.2rem;
    color: #fff;
    margin: 0 .5rem;
    font-weight: 300; }
  .courses-box__price {
    display: block;
    font-size: 2rem;
    font-weight: 600;
    margin-left: auto;
    color: #fff; }

.event-blog {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 0 1 40%;
  margin-bottom: 3rem; }
  @media only screen and (min-width: 48.06em) {
    .event-blog {
      flex-direction: row;
      justify-content: space-between; } }
  @media only screen and (min-width: 62.56em) {
    .event-blog {
      margin-bottom: 5rem; } }
  .event-blog__photo-box {
    width: 100%;
    flex: 1; }
  .event-blog__photo {
    width: 100%;
    transition: transform .3s; }
    @media only screen and (min-width: 62.56em) {
      .event-blog__photo:hover {
        transform: rotate(-1deg) scale(1.1); } }
  .event-blog__contents {
    align-self: center;
    max-height: 100%;
    flex: 1; }
    @media only screen and (min-width: 48.06em) {
      .event-blog__contents {
        margin-left: 2rem; } }
  .event-blog .paragraph a {
    margin-left: 0.6rem; }
  @media only screen and (min-width: 48.06em) {
    .event-blog--column {
      flex-direction: column;
      flex: 0 1 22%;
      margin-bottom: 3rem; } }
  .event-blog--column:not(:first-child) {
    display: none; }
    @media only screen and (min-width: 48.06em) {
      .event-blog--column:not(:first-child) {
        display: flex; } }
  @media only screen and (min-width: 48.06em) {
    .event-blog--column:first-child {
      margin: 0 0 3rem 0; } }
  .event-blog--column {
    align-items: flex-start; }
    .event-blog--column .heading-tertialy {
      transition: color .3s; }
  .event-blog--column .event-blog__photo-box {
    margin-bottom: 1rem;
    overflow: hidden; }
  @media only screen and (min-width: 62.56em) {
    .event-blog--column:hover .event-blog__photo {
      transform: scale(1.1); }
    .event-blog--column:hover .heading-tertialy {
      color: #f7631b; } }

.form__form-container {
  margin: 7rem 1rem; }

.form__form:not(:last-child) {
  margin-bottom: .6rem; }

.form__input {
  font-size: 1.5rem;
  font-family: inherit;
  padding: 1rem;
  width: 100%;
  background-color: #fff;
  color: #777777;
  outline: none; }

.form__form--arrow {
  display: flex;
  margin: 2rem 0; }

.form-page {
  display: flex;
  flex-direction: column; }
  @media only screen and (min-width: 62.56em) {
    .form-page {
      align-items: flex-end; } }
  @media only screen and (min-width: 62.56em) {
    .form-page--contact {
      width: 70%; } }
  .form-page--contact:not(:last-child) {
    margin-bottom: 2rem; }
  .form-page--contact:last-of-type > * {
    height: 10rem; }

.sliding-btn {
  font-size: 2rem;
  text-transform: uppercase;
  color: #f7631b;
  width: 4rem;
  height: 4rem;
  border-radius: 2rem;
  background-color: transparent;
  box-shadow: 0.5rem 0.5rem 0.5rem rgba(34, 34, 34, 0.2);
  border: 1px solid rgba(34, 34, 34, 0.2);
  margin-top: 2rem;
  transition: ease .3s;
  display: flex;
  justify-content: center;
  align-items: center; }
  .sliding-btn:active {
    background-color: #f7631b;
    color: #fff; }
  @media only screen and (min-width: 62.56em) {
    .sliding-btn:hover {
      background-color: #f7631b;
      width: 15rem;
      border-radius: 2rem;
      overflow: hidden;
      color: #fff; }
      .sliding-btn:hover > ::before {
        content: "details";
        text-transform: uppercase;
        font-size: 1.4rem;
        margin-right: 1rem; } }

.info {
  padding: 10rem 0 5rem 0;
  display: flex;
  flex-direction: column; }
  @media only screen and (min-width: 62.56em) {
    .info {
      flex-direction: row;
      align-items: center; } }
  .info__photo {
    flex: 1; }
  .info__img {
    max-width: 100%; }
  .info__content {
    padding: 3rem 2rem;
    flex: 1; }
  .info__text:nth-child(2) {
    padding: 2rem 0; }

.mission {
  padding: 10rem 2rem; }
  @media only screen and (min-width: 36.26em) {
    .mission {
      padding: 10rem 8rem; } }
  .mission__container {
    display: flex;
    flex-direction: column;
    align-items: center; }
    @media only screen and (min-width: 48.06em) {
      .mission__container {
        flex-direction: row; } }
  .mission__content {
    flex: 1; }
    @media only screen and (min-width: 48.06em) {
      .mission__content {
        margin-right: 3rem; } }
  .mission__section-title {
    background-color: #fff;
    text-align: center;
    margin-bottom: 6rem;
    flex: 1; }
    .mission__section-title > * {
      margin-bottom: 2rem; }
  .mission__heading {
    background-color: #f7631b;
    color: #fff;
    padding: 1rem; }
  .mission__text {
    padding: 2rem; }
  .mission__video {
    width: 100%;
    flex: 1; }

.courses__btn {
  margin: 0 auto; }

.gallery {
  display: flex;
  flex-direction: column; }
  .gallery__row {
    display: flex;
    flex-direction: column; }
    @media only screen and (min-width: 62.56em) {
      .gallery__row {
        flex-direction: row; } }
  .gallery__item {
    padding: 1rem; }
  .gallery__img {
    width: 100%;
    height: auto; }

.work {
  font-size: 10rem;
  color: #222;
  text-transform: uppercase;
  text-align: center; }

.map__img {
  width: 100%; }

.contact {
  background-color: #f9f9ff;
  display: flex;
  flex-direction: column;
  padding: 5rem 6rem; }
  @media only screen and (min-width: 48.06em) {
    .contact {
      padding: 8rem 12rem; } }
  @media only screen and (min-width: 62.56em) {
    .contact {
      flex-direction: row;
      align-items: center;
      padding: 8rem 10rem; } }
  .contact__container {
    margin-bottom: 3rem; }
  .contact__details {
    display: flex;
    align-content: center; }
    .contact__details:not(:last-child) {
      margin-bottom: 3rem; }
  .contact__icon {
    fill: #f7631b;
    width: 3rem;
    height: 3rem;
    margin-right: 3rem; }
  .contact__exact-address {
    display: flex;
    flex-direction: column; }
  .contact__text {
    font-size: 1.4rem;
    color: #222; }
    .contact__text:last-child {
      color: #777777; }
  .contact__form {
    display: flex;
    flex-direction: column;
    flex: 2; }
  .contact__form .primary-btn {
    width: 18rem;
    margin-top: 1rem;
    align-self: flex-end; }
